.networkWrap {
  display: block;
  margin-top: -1rem;
}

.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
  margin-top: -1rem;
}

.grid > div {
  overflow: hidden;
  /* add padding to see box-shadow with hidden overflow */
  padding: var(--spacer);
  /* set a negative margin to fix the spacing */
  margin: calc(var(--spacer) * -1);
}

.content {
  composes: box from '@shared/atoms/Box.module.css';
  padding-top: 0;
  margin-top: var(--spacer);
  box-shadow: var(--teaser-box-shadow);
  border: none;
  position: relative;
}

.actions > div {
  margin-top: var(--spacer);
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .actions {
    margin-top: var(--spacer);
  }
}

.ownerActions {
  text-align: center;
  margin-top: var(--spacer);
  margin-bottom: calc(var(--spacer) * 1.5);
  padding: calc(var(--spacer) / 3) var(--spacer);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
