@font-face {
  font-family: 'Asap';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('Asap-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Asap';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('Asap-SemiBold.ttf') format('truetype');
}
