.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
  margin-bottom: var(--spacer);
  background-image: url('/images/euprogigant-home-eyecatcher-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: var(--spacer);
  max-width: 50rem;
}

.homeWrapper .header {
  margin: var(--spacer);
  margin-top: 0;
  padding-top: var(--spacer);
  max-width: 30rem;
  text-align: start;
}

.title {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.homeTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTitleContainer h1 {
  margin-bottom: calc(var(--spacer) / 2);
}

.homeTitleContainer h1 span {
  display: block;
}

.homeTitleContainer > h1 span:first-of-type {
  font-size: var(--font-size-h2);
}

@media (min-width: 40rem) {
  .title {
    font-size: var(--font-size-h2);
  }
}

.description {
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
}

.homeWrapper .title,
.homeWrapper .description {
  color: var(--brand-white);
}

.center,
.search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) / 2);
  max-width: 30rem;
}
