.meta {
  margin-bottom: calc(var(--spacer) / 1.5);
  color: var(--brand-white);
  font-size: var(--font-size-small);
}

.asset {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: calc(var(--spacer) * 2);
  width: 100%;
  margin-bottom: calc(var(--spacer) / 1.5);
  padding: 0 calc(var(--spacer) / 1.5);
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

.assetType {
  display: inline-block;
  border-right: 1px solid var(--brand-white);
  padding-right: calc(var(--spacer) / 3.5);
  margin-right: calc(var(--spacer) / 4);
}

.assetType > * {
  border-color: var(--brand-white);
}

.publisherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datatoken {
  white-space: pre;
  margin-right: calc(var(--spacer) / 3);
}

.datatoken svg {
  fill: var(--brand-white);
}

.datatoken:hover,
.datatoken:hover svg {
  color: var(--brand-violet);
  fill: var(--brand-violet);
}

.byline {
  padding: 0 calc(var(--spacer) / 1.5);
  color: var(--color-primary);
  font-size: var(--font-size-small);
}

.updated {
  font-size: var(--font-size-mini);
}

.addWrap {
  padding-left: calc(var(--spacer) / 5);
  border-left: 1px solid var(--brand-white);
  display: inline-block;
}

.add {
  font-size: var(--font-size-mini);
}

@media screen and (min-width: 40rem) {
  .asset,
  .byline {
    padding: 0 var(--spacer);
  }
  .publisherInfo {
    flex-direction: row;
  }
}
