.wrapper {
  padding: calc(var(--spacer) / 2);
  color: var(--color-primary);
}

.assetType {
  display: inline-block;
  border-right: 1px solid var(--color-primary);
  padding-right: calc(var(--spacer) / 3.5);
  margin-right: calc(var(--spacer) / 4);
}

.byline {
  display: inline-block;
  font-size: var(--font-size-small);
}

.updated {
  font-size: var(--font-size-mini);
}
