.logo {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.branding {
  width: 10rem;
  height: auto;
}

.logo:not(.branding) path {
  fill: var(--font-color-heading);
}

a > .logo:hover:not(.branding) path {
  fill: var(--color-primary);
}

@media screen and (min-width: 55rem) {
  .branding {
    width: 14rem;
  }
}
