.tabList {
  height: calc(var(--spacer) * 2);
  padding: calc(var(--spacer) / 2);
  text-align: center;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

.tab {
  display: inline-block;
  padding: calc(var(--spacer) / 12) var(--spacer);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--brand-white);
  border: 1px solid var(--brand-white);
  border-radius: var(--border-radius);
  margin: 0 calc(var(--spacer) / 8);
  min-width: 100px;
}

.tab[aria-selected='true'] {
  background-color: var(--brand-violet);
  color: var(--color-primary);
  border-color: var(--brand-violet);
}

.tabContent {
  padding: calc(var(--spacer) / 2);
}

@media (min-width: 40rem) {
  .tabContent {
    padding: var(--spacer);
  }
}
