.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.logo {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions > * {
  margin: 0 calc(var(--spacer) / 6);
}
.actions > *:last-child() {
  margin-right: 0;
}
.actions > *:first-child() {
  margin-left: 0;
}

.title {
  display: none;
}

@media screen and (min-width: 50rem) {
  .menu {
    justify-content: end;
  }
  .navigation {
    width: auto;
    margin: 0;
    text-align: center;
    border: none;
  }
  .logo {
    margin-right: auto;
  }
}

@media screen and (min-width: 55rem) {
  .menu {
    padding: calc(var(--spacer) / 1.5);
  }
  .title {
    margin: 0;
    margin-right: var(--spacer);
    display: block;
    color: var(--color-secondary);
    font-size: var(--font-size-h4);
  }
}

.navigation {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.navigation::-webkit-scrollbar,
.navigation::-moz-scrollbar {
  display: none;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 3);
  margin-left: calc(var(--spacer) / 3);
  position: relative;
}

.link {
  display: block;
  padding: calc(var(--spacer) / 4);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  transform: var(--transition-duration) ease-in-out;
  z-index: 1;
}

.actions,
.link:hover,
.link:focus,
.link:active {
  color: var(--color-menu-active);
}

.link[aria-current],
.link[aria-current]:hover,
.link[aria-current]:focus {
  color: var(--font-color-heading);
}

.actions button {
  text-transform: none;
}
