.homeWrapper {
  background-image: url('../../images/euprogigant-home-eyecatcher-scaled.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: var(--spacer);
  max-width: 50rem;
}

.homeWrapper .header {
  margin: var(--spacer);
  margin-top: 0;
  padding-top: var(--spacer);
  max-width: 30rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.title {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40rem) {
  .title {
    font-size: var(--font-size-h2);
  }
}

.description,
.powered {
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
}

.homeWrapper .title,
.homeWrapper .description,
.homeWrapper .powered {
  color: var(--brand-white);
}

.powered {
  margin-top: calc(var(--spacer) / 2);
}

.wrapper .center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header a {
  display: inline-block;
  margin: calc(var(--spacer) / 2) auto var(--spacer) auto;
}

.header svg {
  width: 4rem;
  height: 4rem;
}

.header svg path,
.header svg path:hover {
  fill: var(--brand-white) !important;
}
