.footer {
  padding: var(--spacer);
  padding-bottom: calc(var(--spacer) / 2);
  text-align: center;
  color: var(--footer-font-color);
  background: var(--footer-background-color);
  background-image: url('/images/footer-diagonal-stripes.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 15rem;
  font-size: var(--font-size-small);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: var(--spacer);
  margin: auto;
  margin-bottom: var(--spacer);
}

.siteTitle {
  text-align: left;
  margin-bottom: 0;
}

.main {
  margin-top: auto;
  position: relative;
  text-align: left;
  color: var(--footer-font-color);
}

.main svg {
  width: 12rem;
  height: 6rem !important;
  margin-left: -1.2rem;
  margin-top: auto;
}

.main svg path {
  fill: var(--footer-font-color);
}

.copyright a {
  color: var(--footer-copyright-link-font-color);
  text-decoration: var(--footer-link-text-decoration);
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  text-decoration: var(--footer-link-text-decoration-hover);
}

@media screen and (min-width: 55rem) {
  .footer {
    padding: calc(var(--spacer) * 2);
    padding-bottom: calc(var(--spacer) / 2);
    background-size: 18rem;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--spacer) / 2);
  }
}
