.button {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  border: none;
  white-space: nowrap;
  background: var(--background-content);
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.button,
.address {
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.button.initial {
  color: var(--color-primary);
}

.button:hover,
.button:hover .address,
[aria-expanded='true'] .address {
  color: var(--color-menu-active);
  border-color: var(--color-menu-active);
}

.button.initial span {
  display: none;
}

.address {
  display: none;
  text-transform: none;
  padding-left: calc(var(--spacer) / 8);
}

.button svg {
  width: 1em;
  height: 1em;
  font-size: var(--font-size-small);
  fill: var(--border-color);
  display: inline-block;
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 3);
  transition: 0.3s ease-out;
}

[aria-expanded='true'] .button svg {
  transform: rotate(180deg);
  fill: var(--color-menu-active);
}

.status {
  margin-left: calc(var(--spacer) / 4);
  position: relative;
  top: 1px;
}

.caret,
svg.caret {
  display: none;
}

.button:hover .caret,
[aria-expanded='true'] .caret {
  fill: var(--color-menu-active);
}

@media screen and (min-width: 35rem) {
  .button.initial span {
    display: inline;
  }
  .address {
    display: inline-block;
  }
  .blockies {
    margin-right: calc(var(--spacer) / 6);
  }
  .caret,
  svg.caret {
    display: inline-block;
    fill: var(--color-primary);
  }
}
