:root {
  /* Portal brand color variables */
  --brand-white: #ffffff;
  --brand-black: #000046;
  --brand-blue-dark: #23406c;
  --brand-blue: #2089be;
  --brand-cyan: #42bfe8;
  --brand-yellow: #ffd853;

  --brand-grey: #6c7393;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #d4d4e2;
  --brand-grey-dimmed: #f1f3f8;

  --brand-alert-green: #5fb359;
  --brand-alert-red: #d80606;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;

  /* Ocean brand color variables */
  --ocean-white: #ffffff;
  --ocean-black: #141414;
  --ocean-pink: #ff4092;
  --ocean-purple: #7b1173;
  --ocean-violet: #e000cf;

  --ocean-grey-darker: #201f1f;
  --ocean-grey-dark: #303030;
  --ocean-grey: #41474e;
  --ocean-grey-light: #8b98a9;
  --ocean-grey-lighter: #e2e2e2;
  --ocean-grey-dimmed: #f7f7f7;

  --ocean-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);
}
