@import url('./_colors.css');
@import url('../../public/static/fonts/fonts.css');

:root {
  --color-primary: var(--brand-blue-dark);
  --color-secondary: var(--brand-grey-light);
  --color-highlight: var(--brand-cyan);

  /* Only use these vars for most color referencing for easy light/dark mode */
  --font-color-text: var(--color-primary);
  --font-color-heading: var(--brand-blue);
  --font-color-light: var(--color-secondary);
  --background-body: var(--brand-white);
  --background-body-transparent: rgba(255, 255, 255, 0.8);
  --background-content: var(--brand-white);
  --background-highlight: var(--brand-grey-dimmed);
  --border-color: var(--brand-grey-lighter);
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --checkbox-selected-background: var(--color-primary);
  --bookmark-icon-fill-color: var(--brand-grey-lighter);
  --bookmark-icon-selected-fill-color: var(--brand-yellow);
  --link-font-color: var(--color-primary);
  --link-font-color-hover: var(--color-highlight);
  --nft-refresh-icon-fill: var(--brand-white);
  --badge-background-color: var(--color-primary);
  --asset-view-icon-fill: var(--brand-grey-light);
  --asset-view-icon-selected-fill: var(--color-primary);

  /* Menubar */
  --menu-logo-color: unset;
  --menu-logo-color-hover: unset;
  --menu-logo-size-sm: 10rem;
  --menu-logo-size-lg: 14rem;
  --menu-font-color: var(--color-primary);
  --menu-font-color-active: var(--brand-blue);
  --menu-font-color-hover: var(--brand-blue);
  --menu-active-indicator-color: var(--brand-blue);
  --menu-mobile-navigation-border-size: var(--border-size-sm);
  --menu-mobile-navigation-border-color: transparent;
  --menu-border-color: var(--color-primary);
  --menu-border-radius: var(--border-radius-sm);
  --menu-border-size: var(--border-size);
  --menu-icon-fill-color: var(--color-primary);
  --menu-icon-fill-color-hover: var(--color-primary);
  --menu-title-font-size: var(--font-size-h4);
  --menu-link-font-size: var(--font-size-base);
  --menu-link-font-weight: var(--font-weight-bold);
  --menu-link-font-weight-active: var(--font-weight-bold);
  --menu-caret-size: var(--font-size-small);
  --menu-caret-fill-color: var(--color-primary);
  --menu-network-badge-font-color: var(--brand-white);

  /* Footer */
  --footer-background-color: var(--color-primary);
  --footer-font-color: var(--brand-white);
  --footer-font-color-highlight: var(--brand-cyan);
  --footer-copyright-link-font-color: var(--brand-cyan);
  --footer-link-category-font-color: var(--brand-white);
  --footer-link-text-decoration: none;
  --footer-link-text-decoration-hover: none;

  /* Input elements */
  --input-font-color: var(--font-color-text);
  --input-placeholder-font-color: var(--brand-grey);
  --input-disabled-font-color: var(--font-color-light);
  --input-border-color: var(--color-secondary);
  --input-border-size: var(--border-size-sm);
  --input-border-radius: var(--border-radius);
  --input-background: var(--brand-white);
  --input-selected-background: var(--checkbox-selected-background);
  --input-selected-border-size: var(--border-size-sm);
  --input-selected-border-color: var(--font-color-text);

  /* Buttons */
  --button-border-radius: var(--border-radius);
  --button-font-color: var(--brand-white);
  --button-background: var(--font-color-light);
  --button-hover-font-color: var(--brand-white);
  --button-hover-background: var(--font-color-light);
  --button-active-font-color: var(--brand-white);
  --button-active-background: var(--font-color-light);
  --button-primary-font-color: var(--brand-blue-dark);
  --button-primary-background: var(--brand-yellow);
  --button-primary-font-color-hover: var(--brand-yellow);
  --button-primary-background-hover: var(--brand-blue-dark);
  --button-ghost-font-color: var(--color-primary);
  --button-ghost-background: var(--brand-white);
  --button-ghost-font-color-hover: var(--color-primary);
  --button-ghost-background-hover: var(--brand-white);
  --button-text-font-color: var(--brand-blue-dark);
  --button-text-font-color-hover: var(--brand-blue-dark);

  /* Loading spinner */
  --loader-border-color: var(--brand-blue-dark);
  --loader-top-border-color: transparent;
  --loader-border-size: var(--border-size);
  --loader-message-color: var(--color-secondary);

  /* Box template */
  --box-template-background: var(--background-content);
  --box-template-border-radius: var(--border-radius);
  --box-template-border-size: var(--border-size-sm);
  --box-template-border-color: var(--border-color);
  --box-template-box-shadow: 0 6px 17px 0 var(--box-shadow-color);
  --box-template-hover-box-shadow: 0 10px 25px 0 var(--box-shadow-color);
  --box-template-transform-hover: none;

  /* Asset teaser */
  --teaser-font-color: var(--color-primary);
  --teaser-title-font-color: var(--font-color-heading);
  --teaser-price-unit-font-color: var(--color-primary);
  --teaser-datatoken-font-color: var(--color-primary);
  --teaser-background: var(--background-content);
  --teaser-border-radius: var(--border-radius);
  --teaser-border-size: 0;
  --teaser-border-color: var(--color-primary);
  --teaser-box-shadow: 0 0 15px #0000001a;
  --teaser-hover-box-shadow: 0 0 15px #00000050;

  /* Pagination component */
  --pagination-font-color: var(--brand-grey-light);
  --pagination-selected-font-color: var(--color-primary);
  --pagination-hover-font-color: var(--color-primary);

  /* Filter and sort */
  --filter-font-color: var(--color-primary);
  --filter-hover-font-color: var(--brand-white);
  --sort-hover-font-color: var(--color-primary);
  --filter-selected-font-color: var(--brand-white);
  --filter-background: var(--background-content);
  --filter-background-hover: var(--color-primary);
  --filter-selected-background: var(--color-primary);
  --filter-border-radius: var(--border-radius-sm);
  --filter-border-size: var(--border-size-sm);
  --filter-border-color: var(--color-primary);
  --filter-selected-border-color: var(--border-color);
  --filter-clear-font-color: var(--color-primary);
  --filter-clear-hover-font-color: var(--brand-blue);

  /* Asset content view */
  --asset-content-border-size: var(--border-size-sm);
  --asset-content-border-color: var(--color-secondary);

  /* Confetti */
  --confetti-color-one: var(--brand-blue-dark);
  --confetti-color-two: var(--brand-yellow);
  --confetti-color-three: var(--brand-cyan);
  --confetti-color-four: var(--brand-grey-light);
  --confetti-color-five: var(--brand-grey-lighter);

  --font-family-base: 'Asap', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-family-heading: 'Asap', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --line-height: 1.6;

  --spacer: 2rem;
  --border-radius-sm: 2px;
  --border-radius: 0.2rem;
  --border-size-sm: 1px;
  --border-size: 2px;

  --layout-max-width: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
}

.dark {
  --font-color-text: #e2e2e2;
  --font-color-heading: #f7f7f7;
  --background-body: rgb(10, 10, 10);
  --background-body-transparent: rgba(10, 10, 10, 0.9);
  --background-content: #141414;
  --background-highlight: #201f1f;
  --border-color: #303030;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
