.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
}

.card {
  position: relative;
  composes: box from '../atoms/Box.module.css';
  width: 100%;
  height: fill;
  overflow: hidden;
}

.description {
  width: 65%;
}

.blob {
  position: absolute;
  max-width: 15rem;
  top: 0;
  right: 0;
  pointer-events: none;
}

.icon {
  position: absolute;
  width: 2rem;
  top: 1rem;
  right: 2rem;
  pointer-events: none;
  fill: var(--brand-white);
}

@media screen and (min-width: 30rem) {
  .blob {
    max-width: 25rem;
  }
  .icon {
    width: 3rem;
    top: 2rem;
    right: 3rem;
  }
}

@media screen and (min-width: 60rem) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacer);
  }
}
