.container {
  margin-bottom: calc(var(--spacer) * 2);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
}

.card {
  position: relative;
  composes: box from '../atoms/Box.module.css';
  width: 100%;
  height: stretch;
  overflow: hidden;
}

.description {
  width: 65%;
}

.blob {
  position: absolute;
  max-width: 15rem;
  top: 0;
  right: 0;
  pointer-events: none;
}

.icon {
  position: absolute;
  width: var(--spacer);
  top: calc(var(--spacer) / 2);
  right: var(--spacer);
  pointer-events: none;
  fill: var(--brand-white);
}

@media screen and (min-width: 30rem) {
  .blob {
    max-width: 25rem;
  }
  .icon {
    width: calc(var(--spacer) * 1.5);
    top: var(--spacer);
    right: calc(var(--spacer) * 1.5);
  }
}

@media screen and (min-width: 60rem) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacer);
  }
}
