.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--spacer) * 2);
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.poweredByContainer {
  margin-top: var(--spacer);
}

@media screen and (min-width: 45rem) {
  .wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: var(--spacer);
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .poweredByContainer {
    margin-top: 0;
  }
}
