.wrapper {
  margin-top: calc(var(--spacer) * 2);
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 40rem) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
