.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: calc(var(--spacer) * 2);
}

.container p {
  margin-bottom: 0;
  color: var(--brand-black);
}

.logo {
  width: 10rem;
}
